@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Slabo+27px);


#index-msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#index-msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#index-msg-box4-0 .mbr-article {
  color: #ffffff;
}
#index-msg-box4-0 .mbr-header__text SPAN {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
}
#index-msg-box4-1 .mbr-header__text {
  color: #27aae0;
  text-align: center;
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#index-msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#index-msg-box4-1 .mbr-article {
  color: #ffffff;
  font-size: 22px;
}
#index-msg-box4-1 .mbr-article DIV {
  font-size: 15px;
}
#index-msg-box4-1 .mbr-article P {
  font-size: 22px;
}


#page3-msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#page3-msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#page3-msg-box4-0 .mbr-article {
  color: #ffffff;
}
#page3-msg-box4-0 .mbr-header__text SPAN {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
}
#page3-msg-box4-1 .mbr-header__text {
  color: #27aae0;
  text-align: center;
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#page3-msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#page3-msg-box4-1 .mbr-article {
  color: #ffffff;
  font-size: 14px;
}
#page3-msg-box4-1 .mbr-article DIV {
  font-size: 15px;
}
#page3-msg-box4-1 .mbr-article P {
  font-size: 16px;
  color: #ffffff;
}


#page4-msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#page4-msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#page4-msg-box4-0 .mbr-article {
  color: #ffffff;
}
#page4-msg-box4-0 .mbr-header__text SPAN {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
}
#page4-msg-box4-1 .mbr-header__text {
  color: #27aae0;
  text-align: center;
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#page4-msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#page4-msg-box4-1 .mbr-article {
  color: #ffffff;
  font-size: 22px;
}
#page4-msg-box4-1 .mbr-article DIV {
  font-size: 15px;
}
#page4-msg-box4-1 .mbr-article P {
  font-size: 22px;
}


#page5-msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#page5-msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#page5-msg-box4-0 .mbr-article {
  color: #ffffff;
}
#page5-msg-box4-0 .mbr-header__text SPAN {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
}
#page5-msg-box4-1 .mbr-header__text {
  color: #27aae0;
  text-align: center;
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#page5-msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#page5-msg-box4-1 .mbr-article {
  color: #000000;
  font-size: 14px;
}
#page5-msg-box4-1 .mbr-article DIV {
  font-size: 15px;
}
#page5-msg-box4-1 .mbr-article P {
  font-size: 24px;
  color: #000000;
}
#page5-msg-box4-1 .mbr-article B {
  font-size: 25px;
}


#page6-msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#page6-msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#page6-msg-box4-0 .mbr-article {
  color: #ffffff;
}
#page6-msg-box4-0 .mbr-header__text SPAN {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
}
#page6-msg-box4-1 .mbr-header__text {
  color: #27aae0;
  text-align: center;
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#page6-msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#page6-msg-box4-1 .mbr-article {
  color: #000000;
  font-size: 14px;
}
#page6-msg-box4-1 .mbr-article DIV {
  font-size: 15px;
}
#page6-msg-box4-1 .mbr-article P {
  font-size: 24px;
  color: #000000;
}
#page6-msg-box4-1 .mbr-article B {
  font-size: 25px;
}
#DASCOIN_REVOLUTION 2-menu-0 .mbr-brand__name {
  font-size: 16px;
}
#DASCOIN_REVOLUTION 2-menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#DASCOIN_REVOLUTION 2-menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}


#page6-msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#page6-msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#page6-msg-box4-0 .mbr-article {
  color: #ffffff;
}
#page6-msg-box4-0 .mbr-header__text SPAN {
  text-align: right;
  font-family: 'Slabo 27px', serif;
  font-size: 32px;
}
#page6-msg-box4-1 .mbr-header__text {
  color: #27aae0;
  text-align: center;
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#page6-msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#page6-msg-box4-1 .mbr-article {
  color: #000000;
  font-size: 14px;
}
#page6-msg-box4-1 .mbr-article DIV {
  font-size: 15px;
}
#page6-msg-box4-1 .mbr-article P {
  font-size: 24px;
  color: #000000;
}
#page6-msg-box4-1 .mbr-article B {
  font-size: 25px;
}


#page7-msg-box4-0 .mbr-header__text {
  color: #ffffff;
}
#page7-msg-box4-0 .mbr-header__subtext {
  color: #ffffff;
}
#page7-msg-box4-0 .mbr-article {
  color: #ffffff;
}
#page7-msg-box4-0 .mbr-header__text SPAN {
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 32px;
  color: #000000;
}
#page7-msg-box4-0 .mbr-header__text I {
  color: #ffffff;
}
#page7-msg-box4-1 .mbr-header__text {
  color: #27aae0;
  text-align: center;
  font-size: 30px;
  font-family: 'Merriweather', serif;
}
#page7-msg-box4-1 .mbr-header__subtext {
  color: #ffffff;
}
#page7-msg-box4-1 .mbr-article {
  color: #000000;
  font-size: 14px;
}
#page7-msg-box4-1 .mbr-article DIV {
  font-size: 15px;
}
#page7-msg-box4-1 .mbr-article P {
  font-size: 24px;
  color: #000000;
}
#page7-msg-box4-1 .mbr-article B {
  font-size: 25px;
}
#page7-menu-0 .mbr-brand__name {
  font-size: 16px;
}
#page7-menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#page7-menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
